<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="item-container">
            <% products.forEach(function(product) { %>
                <div class="item">
                    <img src="<%= product.pictureUrl %>" />
                    <p><%= product.name %></p>
                    <p><%= product.price %> $</p>
                    <p><%= product.description %></p>
                    <form action="/add_to_cart" method="POST">
                        <input type="hidden" name="picture_url" value="<%= product.pictureUrl %>" />
                        <input type="hidden" name="name" value="<%= product.name %>" />
                        <input type="hidden" name="price" value="<%= product.price %>" />
                        <input type="hidden" name="description" value="<%= product.description %>" />
                        <input type="submit" value="Add to Card" />
                    </form>
                </div>
            <% }) %>
        </div>
    </body>
</html>